/* -------------------------------- CONTACTO Y QUIEN SOY SASS ------------------------------------*/

.fc_h1 {
    color: $st-color;
    overflow: hidden;
}

.fc_h3 {
    color: $nd-color;
    font-size: 1.5rem;
}

.fc_h4 {
    @include formatos2($font2, $rd-color, 0, 90%, justify, 2rem);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: map-get($pixel , 20);
}

.grid-container .grid-item {
    text-align: map-get($alineacion, cen);
}

.grid-container .grid-item .img_tamaño {
    max-width: map-get($ancho , 100);
    height: $alto;
}

.grid-container .grid-item .fc_parrafo {
    /*PAGINA QUIEN SOY*/
    @include formatos2($font2, $rd-color, 1.2rem, 90%, justify, 2rem);
    margin-left: 20px;
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (max-width: 768px) {
    .main {
        padding: 0 20px;
    }
}