.main {
    background-image: $gradiente;
}

.main .section_titulos {
    /* ------------------------------- CONTENEDOR DE ENCABEZADO DE TITULO, SUB, PARRAFO *************/
    text-align: center;
}

.main .section_titulos .main-titulo {
    overflow: hidden;
}

.main .section_titulos .main-titulo .ctitulo {
    /* ---------------------------------------- SETEO DEL TITULO -------------------*/
    @include formatos($font1, $st-color, 2.5rem);
    font-weight: 700;
}

.main .section_titulos .csubtitulo {
    /* ------------------------------ SETEO DEL SUBTITULO ----------------*/
    @include formatos($font2, $nd-color, 1.5rem);
    margin-top: map-get($pixel , 20);
}

.main .section_titulos .cparrafo {
    /* ------------------------------ SETEO DEL PARRAFO --------------------------*/
    @include formatos ($font2, $rd-color, 1.2rem);
    text-align: map-get($alineacion, jus);
    line-height: map-get($tamanios, 2);
    width: map-get($ancho , 80);
    margin: 0 auto;
    margin-top: map-get($pixel , 20);
}

.main .section_titulos .sub-h3 {
    @include formatos($font1, $nd-color, 1.2rem);
    padding-top: 10px;
}